[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pika = "*"
psycopg2 = "*"
pgeocode = "*"

[dev-packages]
flake8 = "*"
pylint = "*"

[requires]
python_version = "3.9"
